<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
 	<listener>
		<listener-class>com.bpsluwuOneApp.listener.AppContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CutiSPD</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.CutiSPD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CutiSPD</servlet-name>
		<url-pattern>/CutiSPD</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Matriks</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.Matriks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Matriks</servlet-name>
		<url-pattern>/Matriks</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Notulen</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.Notulen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notulen</servlet-name>
		<url-pattern>/Notulen</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BukuTamu</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.BukuTamu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BukuTamu</servlet-name>
		<url-pattern>/BukuTamu</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>KartuKendali</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.KartuKendali</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KartuKendali</servlet-name>
		<url-pattern>/KartuKendali</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MasterWilayah</servlet-name>
		<servlet-class>com.bpsluwuOneApp.servlet.MasterWilayah</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterWilayah</servlet-name>
		<url-pattern>/MasterWilayah</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>StatusLoginFilter</filter-name>
		<filter-class>com.bpsluwuOneApp.filter.StatusLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StatusLoginFilter</filter-name>
		<url-pattern></url-pattern>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MandatoryLoginFilter</filter-name>
		<filter-class>com.bpsluwuOneApp.filter.MandatoryLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MandatoryLoginFilter</filter-name>
		<url-pattern></url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>/CutiSPD</url-pattern>
		<url-pattern>/Matriks</url-pattern>
		<url-pattern>/Notulen</url-pattern>
		<url-pattern>/BukuTamu</url-pattern>
		<url-pattern>/KartuKendali</url-pattern>
		<url-pattern>/MasterWilayah</url-pattern>
	</filter-mapping>
</web-app>